.card-design-info{
    width: 95%;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: .75rem;
    -webkit-box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.17);
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.17);
}

.info-container{
    width: 50%;
    font-size: 12pt;
    font-weight: 500;
}

.gauge-container{
    width: 50%;
    height: auto;
}