body{
    background-color: #f2f2f2;
}
.mobile-nav{
    color: white;
    background-color: #19a8ff;
}

.navbar-brand{
    color: white !important;
}

.navbar-nav .nav-link{
    color: white !important;
}

.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler{
    border-color: rgb(255,255,255);
}

.mobile-cards-container{
    margin-top: 66px;
}
.room-card-container {
    background-color: white;
}
.gauge-container{
    width: 50%;
}

.mobile-room-card-container {
    padding: 0;
    margin: 0;
}

.mobile-card-design{
    background-color: white;
    border-radius: .75rem;
    -webkit-box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.17);
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.17);
}

.mobile-gauge-container{
    width: 45%;
}
.mobile-info-container{
    width: 65%;
}

.mobile-wrapper-card{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.mobile-card-seperator{
    margin-bottom: 10px;
}